<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dota2AdvancedDescriptions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Dota2AdvancedDescriptions.Properties.Settings>
            <setting name="CastPointsTableIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CastPointsTableXPath" serializeAs="String">
                <value>//table</value>
            </setting>
            <setting name="Tr" serializeAs="String">
                <value>tr</value>
            </setting>
            <setting name="Td" serializeAs="String">
                <value>td</value>
            </setting>
            <setting name="Th" serializeAs="String">
                <value>th</value>
            </setting>
            <setting name="CastPointsTableAddress" serializeAs="String">
                <value>http://dota2.gamepedia.com/index.php?title=Cast_animation&amp;printable=yes</value>
            </setting>
        </Dota2AdvancedDescriptions.Properties.Settings>
    </userSettings>
</configuration>