<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dota2AdvancedDescriptions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Dota2AdvancedDescriptions.Properties.Settings>
            <setting name="CastPointsTableIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TableXPath" serializeAs="String">
                <value>//table</value>
            </setting>
            <setting name="Tr" serializeAs="String">
                <value>tr</value>
            </setting>
            <setting name="Td" serializeAs="String">
                <value>td</value>
            </setting>
            <setting name="Th" serializeAs="String">
                <value>th</value>
            </setting>
            <setting name="CastPointsTableAddress" serializeAs="String">
                <value>http://dota2.gamepedia.com/Cast_animation/Cast_points_and_backswings?printable=yes</value>
            </setting>
            <setting name="TableIdIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResourcesFolderPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\dota 2 beta\game\dota\resource</value>
            </setting>
            <setting name="DotaResourceMatch" serializeAs="String">
                <value>DOTA_Tooltip_ability</value>
            </setting>
            <setting name="TableAbilityHeroSeparator" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="HeroNamePrefix" serializeAs="String">
                <value>npc_dota_hero_</value>
            </setting>
            <setting name="AbilityResourcePrefix" serializeAs="String">
                <value>DOTA_Tooltip_ability_</value>
            </setting>
            <setting name="ExcludeFromHeroesNames" serializeAs="String">
                <value>bio</value>
            </setting>
            <setting name="DefaultResourcesFileName" serializeAs="String">
                <value>dota_english.txt</value>
            </setting>
            <setting name="ResourcesEnglishModifier" serializeAs="String">
                <value>[english]</value>
            </setting>
            <setting name="ExtraTextPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedResourcesFileName" serializeAs="String">
                <value>dota_english.txt</value>
            </setting>
            <setting name="CastPointTextFormat" serializeAs="String">
                <value>Cast point: {0}</value>
            </setting>
            <setting name="CastBackswingTextFormat" serializeAs="String">
                <value>Cast backswing: {0}</value>
            </setting>
            <setting name="RubickCastBackswingTextFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedColor" serializeAs="String">
                <value>#FF11C3E4</value>
            </setting>
            <setting name="UseCustomColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontColorFormat" serializeAs="String">
                <value>&lt;font color=\"{0}\"&gt;{1}&lt;/font&gt;</value>
            </setting>
            <setting name="DescriptionSuffix" serializeAs="String">
                <value>_Description</value>
            </setting>
            <setting name="NoteSuffix" serializeAs="String">
                <value>_Note</value>
            </setting>
            <setting name="LoreSuffix" serializeAs="String">
                <value>_Lore</value>
            </setting>
            <setting name="Dota2LaunchArguments" serializeAs="String">
                <value>-applaunch 570</value>
            </setting>
            <setting name="SteamFolderLevel" serializeAs="String">
                <value>..\..\..\..\..\..\</value>
            </setting>
            <setting name="SteamExe" serializeAs="String">
                <value>Steam.exe</value>
            </setting>
            <setting name="HideValuesIfEqualToZero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HtmlParsingIgnoreModifier" serializeAs="String">
                <value>Camp</value>
            </setting>
            <setting name="NeutralNamePrefix" serializeAs="String">
                <value>npc_dota_neutral_</value>
            </setting>
            <setting name="OtherNamePrefix" serializeAs="String">
                <value>npc_dota_</value>
            </setting>
            <setting name="NewLineAfterText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoomCastBackswingTextFormat" serializeAs="String">
                <value>Doom backswing: {0}</value>
            </setting>
            <setting name="SteamExeName" serializeAs="String">
                <value>Steam</value>
            </setting>
            <setting name="ResourceFolderSubdir" serializeAs="String">
                <value>steamapps\common\dota 2 beta\game\dota\resource</value>
            </setting>
            <setting name="AddMissingCastRanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CastRangesTableAddress" serializeAs="String">
                <value>http://dota2.gamepedia.com/Abilities/Cast_ranges?printable=yes</value>
            </setting>
            <setting name="CastRangeSuffixSkip" serializeAs="String">
                <value>cast_range</value>
            </setting>
            <setting name="CastRangeExtraStringFormat" serializeAs="String">
                <value>CAST RANGE: {0}</value>
            </setting>
            <setting name="CastRangeValueColor" serializeAs="String">
                <value>#808080</value>
            </setting>
            <setting name="AddCastPointsAndBackswings" serializeAs="String">
                <value>True</value>
            </setting>
        </Dota2AdvancedDescriptions.Properties.Settings>
    </userSettings>
</configuration>