<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dota2AdvancedDescriptions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Dota2AdvancedDescriptions.Properties.Settings>
            <setting name="CastPointsTableIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CastPointsTableXPath" serializeAs="String">
                <value>//table</value>
            </setting>
            <setting name="Tr" serializeAs="String">
                <value>tr</value>
            </setting>
            <setting name="Td" serializeAs="String">
                <value>td</value>
            </setting>
            <setting name="Th" serializeAs="String">
                <value>th</value>
            </setting>
            <setting name="CastPointsTableAddress" serializeAs="String">
                <value>http://dota2.gamepedia.com/index.php?title=Cast_animation&amp;printable=yes</value>
            </setting>
            <setting name="TableIdIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResourcesFolderPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\dota 2 beta\game\dota\resource</value>
            </setting>
            <setting name="DotaResourceMatch" serializeAs="String">
                <value>DOTA_Tooltip_ability</value>
            </setting>
            <setting name="TableAbilityHeroSeparator" serializeAs="String">
                <value> - </value>
            </setting>
            <setting name="HeroNamePrefix" serializeAs="String">
                <value>npc_dota_hero_</value>
            </setting>
            <setting name="AbilityResourcePrefix" serializeAs="String">
                <value>DOTA_Tooltip_ability_</value>
            </setting>
            <setting name="ExcludeFromHeroesNames" serializeAs="String">
                <value>bio</value>
            </setting>
            <setting name="DefaultResourcesFileName" serializeAs="String">
                <value>dota_english.txt</value>
            </setting>
            <setting name="ResourcesEnglishModifier" serializeAs="String">
                <value>[english]</value>
            </setting>
            <setting name="ExtraTextPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraTextFormat" serializeAs="String">
                <value>Cast point: {0}\nCast backswing: {1}</value>
            </setting>
            <setting name="SelectedResourcesFileName" serializeAs="String">
                <value>dota_english.txt</value>
            </setting>
        </Dota2AdvancedDescriptions.Properties.Settings>
    </userSettings>
</configuration>